USE [master]
GO
/****** Object:  Database [TodoDb]    Script Date: 10-03-2021 05:28:18 PM ******/
CREATE DATABASE [TodoDb]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'TodoDb', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.SQLEXPRESS\MSSQL\DATA\TodoDb.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'TodoDb_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.SQLEXPRESS\MSSQL\DATA\TodoDb_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [TodoDb].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [TodoDb]
GO
USE [TodoDb]
GO
/****** Object:  User [invoice]    Script Date: 10-03-2021 05:28:18 PM ******/
CREATE USER [invoice] FOR LOGIN [invoice] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  Table [dbo].[Items]    Script Date: 10-03-2021 05:28:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Items](
	[Description] [nvarchar](100) NULL,
	[IsComplete] [bit] NOT NULL,
	[Id] [int] IDENTITY(1,1) NOT NULL
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Items] ON 

INSERT [dbo].[Items] ([Description], [IsComplete], [Id]) VALUES (N'item 1', 1, 1)
INSERT [dbo].[Items] ([Description], [IsComplete], [Id]) VALUES (N'item 2', 1, 2)
SET IDENTITY_INSERT [dbo].[Items] OFF
USE [master]
GO
